#root{

height: auto;
}


.calc-border{
height: 400px;
  border: 3px  rgb(148, 144, 144);
  border-style: solid;
  border-radius: 10px;
  width: auto;
  margin-left: 200px;
  justify-content: center;

  
}
.my-input-display{
  border: 3px  rgb(168, 158, 158);
  border-style: solid;
  border-radius: 10px;
  height: 150px;
  padding: 20px;
  margin: 6px;
 
}